.header-one {
    -fx-font-size: 24;
    -fx-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.header-two {
    -fx-font-size: 15;
    -fx-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.header-three {
    -fx-font-size: 13;
    -fx-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.body-paragraph {
    -fx-font-size: 12;
    -fx-fill: #9E9E9E;    
}

.chapter-panel-vbox {
    -fx-background-color: #111316;

    -fx-min-width: 200;
    -fx-max-width: 350;
}