.header-one {
    -fx-font-size: 24;
    -fx-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.header-two {
    -fx-font-size: 15;
    -fx-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.header-three {
    -fx-font-size: 13;
    -fx-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.body-paragraph {
    -fx-font-size: 12;
    -fx-fill: #9E9E9E;    
}

.panel-vbox {
    -fx-background-color: #111316;

    -fx-min-width: 200;
    -fx-max-width: 350;
}


/* Style the entire TreeView */
.tree-view {
    -fx-background-color: #111316; /* Background color for the TreeView */
    -fx-border-color: transparent; /* Removes border */
}

.tree-cell {
    -fx-text-fill: #9E9E9E; /* Text color */
    -fx-font-size: 14px;   /* Font size */
    -fx-background-color: transparent; /* Default background */
}

.tree-cell:selected {
    -fx-background-color: #3a3a3a; /* Background for selected cell */
    -fx-text-fill: #FFFFFF;        /* Text color for selected cell */
}

.tree-cell:hover {
    -fx-background-color: #4a4a4a; /* Background for hovered cell */
    -fx-text-fill: #FFFFFF;        /* Text color for hovered cell */
}

.tree-view .scroll-bar:horizontal {
    /* -fx-background-color: #4a4a4a; */
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.tree-view .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    /* -fx-background-color: #4a4a4a; */
}

.tree-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-height: 0;
}
