.root {
    -fx-font-family: Segoe UI;
}

.scrollpane {
    -fx-border-color: transparent;  /* Remove any border */
    -fx-background-color: transparent; /* Remove the background color */
    -fx-padding: 0;  /* Remove any padding around the ScrollPane */
    -fx-effect: none;  /* Remove any effects like shadows */
    -fx-focus-color: transparent;  /* Remove focus border on click */
}

.background {
    -fx-background-color: #111316;
}

.box {
    -fx-background-color: #111316;
    -fx-border-width: 0.5;
    -fx-border-color: #ffffff;
}

.search-box {
    -fx-background-color: #111316;
    -fx-border-width: 0.5;
    -fx-border-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-font-size: 12;
    -fx-text-fill: #9E9E9E; 
}

.main-header {
    -fx-font-size: 24;
    -fx-text-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.second-header {
    -fx-font-size: 15;
    -fx-text-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.third-header {
    -fx-font-size: 13;
    -fx-text-fill: #9E9E9E;
    -fx-font-weight: bold;
}

.body {
    -fx-font-size: 12;
    -fx-text-fill: #9E9E9E;    
}

/* Style the entire TreeView */
.tree-view {
    -fx-background-color: #111316; /* Background color for the TreeView */
    -fx-border-color: transparent; /* Removes border */
}

.tree-cell {
    -fx-text-fill: #9E9E9E; /* Text color */
    -fx-font-size: 14px;   /* Font size */
    -fx-background-color: transparent; /* Default background */
}

.tree-cell:selected {
    -fx-background-color: #3a3a3a; /* Background for selected cell */
    -fx-text-fill: #FFFFFF;        /* Text color for selected cell */
}

.tree-cell:hover {
    -fx-background-color: #4a4a4a; /* Background for hovered cell */
    -fx-text-fill: #FFFFFF;        /* Text color for hovered cell */
}

.tree-view .scroll-bar:horizontal {
    /* -fx-background-color: #4a4a4a; */
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.tree-view .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    /* -fx-background-color: #4a4a4a; */
}

.tree-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: #9E9E9E;  /* Set the color of the divider */
    -fx-background-insets: 0;    /* Optional: Remove any inset if present */
    -fx-pref-width: 0.5px;         /* Set the thickness of the divider (for vertical split) */
    /* If horizontal split, use -fx-pref-height instead: */
    /* -fx-pref-height: 5px; */
}
